<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>보드</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="board-container">
    <h2>보드</h2>
    <p>한 줄 설명</p>
    <div class="column-container">
        <div class="column">
            <h3>backlog</h3>
            <button>칼럼 추가</button>
            <div class="card">Card</div>
            <div class="card">Card</div>
            <button>카드 추가</button>
        </div>
        <div class="column">
            <h3>In Progress</h3>
            <div class="card">Card</div>
            <div class="card">Card</div>
            <button>카드 추가</button>
        </div>
        <div class="column">
            <h3>Done</h3>
            <div class="card">Card</div>
            <div class="card">Card</div>
            <button>카드 추가</button>
        </div>
    </div>
</div>
</body>
</html>
