<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>회원가입</h2>
        <form action="/signup" method="POST">
            <label for="signup-id">ID:</label>
            <input type="text" id="signup-id" name="id">
            <label for="signup-pass">PASS:</label>
            <input type="password" id="signup-pass" name="pass">
            <button type="submit">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>
